// COLORS

$primary-color: #00b09b ;
$secondary-color: #ffff;

$dark-grey: #333333;
$middle-grey: #8d8d8d;
$light-grey: #e6e6e6;

$complementary-color: black;


// FONT SIZE

$xxl: 45px;
$xl: 35px;
$l: 30px;
$m: 20px;
$s: 17px;
$xs: 15px;

// FONT SYLE

$main-font: Arial, Helvetica, sans-serif;

// LEFT MAIN CONTAINERS SIZE

$main-container-standard: 65%;

// ASIDE SIZE

$aside-standard: 30%;

// HIGLIGHT SIZE

$higlight-tablet: 45%;

$higlight-mobile: 89%;

//CONTENT WIDHT

$tablet-content-width: 100% ;


// SECTION PADDING

$large-section-padding: 50px 0px;
$standard-section-padding: 35px 0px;

// BREAKPOINTS

$desktop: 840px;
$tablet-max: 839px;
$tablet-min: 550px;
$mobile-max: 549px;
$mobile-min: 0px;







